<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="presetsDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
				vergelijkingen
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="presetsDropdown"
					id="presetsDropDownMenu"
				>
					<a class="dropdown-item" routerLink="/crime-education">vergelijking criminele activiteiten in nederland met het aantal personen met een afgeronde opleiding in nederland</a>
					<a class="dropdown-item" routerLink="/crime-work">vergelijking criminele activiteiten in nederland met werk in nederlander </a>
					<!-- <div class="dropdown-divider"></div> -->
					<a class="dropdown-item" routerLink="/work-education">vergelijking werk in nederlander met het aantal personen met afgeronde opleiding in nederland</a>
				</div>
			</li>
			<!-- <li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="crimeDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Crime
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="crimeDropdown"
					id="crimeDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="educationDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					education
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="educationDropdown"
					id="educationDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="workDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					work
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="workDropdown"
					id="workDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li> -->
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>

