<div class="container-fluid">
    <div class="row">
        <div class="col border-right" id="q1">
            <a routerLink="/crime-work" style="display: block">
                <section class="text-center align-middle" style="padding-top: 50%;">
                    <h2>Zorgt de toename werkgelegenheid voor een vermindering van criminele activiteit?</h2>
                </section>
            </a>    
        </div>
        <div class="col border-left"  id="q2">
            <a routerLink="/crime-education" style= "display: block">
            <section class="text-center align-middle" style="padding-top: 50%">
                <h2>Gaat een toename van hoger opgeleiden gepaard met een vermindering van werkgelegenheid?
                </h2>
            </section>
            </a>
        </div>    
    </div>
</div>