<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="presetsDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					presets
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="presetsDropdown"
					id="presetsDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="crimeDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Crime
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="crimeDropdown"
					id="crimeDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="educationDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					education
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="educationDropdown"
					id="educationDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="workDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					work
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="workDropdown"
					id="workDropDownMenu"
				>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div *ngIf="show === true">
	<div class="chart">
	  <canvas baseChart
		[datasets]="datasets"
		[labels]="labels"
		[options]="options"
		[chartType]="'line'" 
		>
	  </canvas>
	</div>
  </div>

<!-- <button (click)="getCrime('Opgehelderde misdrijven')">Opgehelderde misdrijven</button>
<button (click)="getCrime('Registraties van verdachten')">Registraties van verdachten</button>
<button (click)="getCrime('Geregistreerde misdrijven')">Geregistreerde misdrijven</button>
<br />
<button (click)="getWork('Werkzame personen')">Werkzame personen</button>
<button (click)="getWork('Banen')">Banen</button> -->
<!-- <button (click)="getWork('Gewerkte uren')">Gewerkte uren</button> -->
<!-- <br />
<button (click)="getEducation('Mannen')">Mannen</button>
<button (click)="getEducation('Vrouwen')">Vrouwen</button>
<button (click)="getEducation('Totaal mannen en vrouwen')">Totaal mannen en vrouwen</button>
<br />

<button (click)="updateDevide()">devide</button> -->
